<h2 mat-dialog-title>{{Titles[rowNumber].name}}</h2>
<button
  mat-dialog-title
  mat-dialog-close
  class="btn-close">
  <mat-icon>clear</mat-icon>
</button>

<mat-dialog-content>

<form [formGroup]="ReactiveForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Task name</mat-label>
    <input type="text" maxlength="45" id="taskName" matInput formControlName="taskName">

    <mat-error *ngIf="isControlInvalid('taskName')">
      enter task name more than 3 characters
    </mat-error>

    <mat-error *ngIf="isControlFilled('taskName')">
      Task name is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Task text</mat-label>
    <textarea
      matInput
      maxlength="500"
      class="form-control"
      id="taskText"
      aria-label="With textarea"
      formControlName="taskText"
    >
    </textarea>

    <mat-error *ngIf="isControlInvalid('taskText')">
      Please don't start text without a space
    </mat-error>

    <mat-error *ngIf="isControlFilled('taskText')">
      Task text is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field  class = "example-full-width"  appearance = "fill">
    <mat-label> Выберите дату </mat-label>
    <input
      matInput
      [matDatepickerFilter]="myFilter"
      [matDatepicker]="picker"
      formControlName="deadline"
    >
    <mat-datepicker-toggle  matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="isControlFilled('deadline')">
      Deadline is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class = "example-full-width">
    <mat-label>Tags</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          [style.background]="'#e0e0e0'"
          *ngFor="let tag of tags"
          selectable="true"
          removable="true"
          (removed)="remove(tag)"
        >
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New tag..."
          #fruitInput
          [formControl]="tagsCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>



<mat-dialog-actions>
  <button *ngIf="!data.id"
    mat-button
    mat-dialog-close
    type="submit"
    class="btn btn-primary"
    [disabled]="ReactiveForm.invalid"
    (click)="
      addObject();
      deleteValue();
      "
  >
    Создать
  </button>
  <button
    *ngIf="data.id"
    mat-button
    mat-dialog-close
    type="submit"
    class="btn btn-primary"
    [disabled]="ReactiveForm.invalid"
    (click)="
      updateObject();
      deleteValue();
      "
  >
    Обновить
  </button>
  <button
    *ngIf="data.id"
    type="button"
    class="btn"
    mat-dialog-close
    (click)="deleteObject()"
    data-dismiss="modal"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-dialog-actions>
</form>
</mat-dialog-content>
<hr /> <br />
