<form [formGroup]="ReactiveForm" (submit)="onSubmit()">
  <label for="taskName">Название таски</label>
  <input type="text" id="taskName" formControlName="taskName" />
  <div class="error" *ngIf="isControlInvalid('taskName')">
    Некорректное имя таски
  </div>
  <br/> <br/>

  <label for="taskText">текст таски</label>
  <textarea class="form-control" id="taskText"  aria-label="With textarea" formControlName="taskText"></textarea>
  <div class="error" *ngIf="isControlInvalid('taskText')">
    Некорректный текст
  </div>
  <br/> <br/>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="ReactiveForm.invalid"
    (click)="
      addObject();
      deleteValue();
      onCloseModal($event)"
  >
    Создать
  </button>
</form>
<hr /> <br />

<div>
  {{ReactiveForm.value | json}}
</div>

