<div mat-dialog-title class="dialog-title">
<div mat-dialog-title class="column-title id" *ngIf="Titles" [style]="{background: Titles[rowNumber].color}">
  <mat-icon style="font-size: 20px">{{Titles[rowNumber].header}}</mat-icon>
  <div class="column-title-wrapper">
    <div class="column-title-name">{{Titles[rowNumber].name}}</div>
  </div>
</div>

  <mat-icon mat-dialog-close class="btn-close">clear</mat-icon>

</div>

<mat-dialog-content>

<form [formGroup]="ReactiveForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Task name</mat-label>
    <input type="text" maxlength="45" id="taskName" matInput formControlName="taskName">

    <mat-error *ngIf="isControlInvalid('taskName')">
      enter task name more than 3 characters
    </mat-error>

    <mat-error *ngIf="isControlFilled('taskName')">
      Task name is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Task text</mat-label>
    <textarea
      matInput
      maxlength="500"
      class="form-control"
      id="taskText"
      aria-label="With textarea"
      formControlName="taskText"
    >
    </textarea>

    <mat-error *ngIf="isControlInvalid('taskText')">
      Please don't start text without a space
    </mat-error>

    <mat-error *ngIf="isControlFilled('taskText')">
      Task text is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field  class = "example-full-width"  appearance = "fill">
    <mat-label> Выберите дату </mat-label>
    <input
      matInput
      [matDatepickerFilter]="myFilter"
      [matDatepicker]="picker"
      formControlName="deadline"
    >
    <mat-datepicker-toggle  matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="isControlFilled('deadline')">
      Deadline is <strong>not filled</strong>
    </mat-error>
  </mat-form-field>


  <app-tags *ngIf="data.id" [row]="row" [id]="data.id"></app-tags>

<mat-dialog-actions>
  <button *ngIf="!data.id"
    mat-button
    mat-dialog-close
    type="submit"
    class="btn btn-primary"
    [disabled]="ReactiveForm.invalid"
    (click)="
      addObject();
      deleteValue();
      "
  >
    Создать
  </button>
  <button
    *ngIf="data.id"
    mat-button
    mat-dialog-close
    type="submit"
    class="btn btn-primary"
    [disabled]="ReactiveForm.invalid"
    (click)="
      updateObject();
      deleteValue();
      "
  >
    Обновить
  </button>
  <button
    *ngIf="data.id"
    type="button"
    class="btn"
    mat-dialog-close
    (click)="deleteObject()"
    data-dismiss="modal"
  >
    <mat-icon>delete</mat-icon>
  </button>

</mat-dialog-actions>
</form>
</mat-dialog-content>
<hr /> <br />
