::ng-deep .mat-dialog-container {
  min-width: 690px;
}

.dialog-title{
  display: flex;
  flex-direction: row;

  .btn-close{
    justify-self: flex-end;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

.column-title {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-radius: 30px;

  .column-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .column-title-name {
      margin: 0;
      text-align: center;
      line-height: 30px;
    }
  }
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}


.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.error {
  color: red;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
