<mat-label *ngIf="tags">Tags</mat-label>
<mat-form-field class = "example-full-width">
  <mat-chip-list #chipList>

   <app-tag *ngFor="let tag of tags" [tags]="tags" [tag]="tag" [rowId]="id" [isForm]="true"></app-tag>
    <input
      maxlength="150"
      (click)="getTagId()"
      #tagInput
      [formControl]="tagsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{tag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!--<mat-form-field class="example-chip-list">-->
<!--  <mat-label>Favorite Fruits</mat-label>-->
<!--  <mat-chip-list #chipList aria-label="Fruit selection">-->
<!--    <mat-chip-->
<!--      *ngFor="let fruit of fruits"-->
<!--      [selectable]="selectable"-->
<!--      [removable]="removable"-->
<!--      (removed)="remove(fruit)">-->
<!--      {{fruit}}-->
<!--      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--    </mat-chip>-->
<!--    <input-->
<!--      placeholder="New fruit..."-->
<!--      #fruitInput-->
<!--      [formControl]="fruitCtrl"-->
<!--      [matAutocomplete]="auto"-->
<!--      [matChipInputFor]="chipList"-->
<!--      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--      (matChipInputTokenEnd)="add($event)">-->
<!--  </mat-chip-list>-->
<!--  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
<!--    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">-->
<!--      {{fruit}}-->
<!--    </mat-option>-->
<!--  </mat-autocomplete>-->
<!--</mat-form-field>-->
