<div class="board-column">
  <div class="column-title id" [style]="{background: color}">
    <mat-icon style="font-size: 20px">{{header}}</mat-icon>
    <div class="column-title-wrapper">
    <div class="column-title-name">{{name}}</div>
    </div>
  </div>

  <div
    *ngIf="tasks"
    cdkDropList
    [cdkDropListData]="tasks"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >

    <app-task
      *ngFor="let task of tasks"
      [task]="task"
      [taskID]="task.id"
      [text]="task.text"
      [index]="task.row"
      [taskName]="task.name"
      [id] = "id"
      [deadline]="task.deadline"
      [user]="task.user"
      cdkDrag
      [cdkDragDisabled]="isMobile"
    >
    </app-task>

  </div>


</div>
