<div class="board-column">
  <div class="column-title id">
    <mat-icon>{{header}}</mat-icon>
    <p>{{name}}</p>
  </div>

  <div
    *ngIf="tasks"
    cdkDropList
    [cdkDropListData]="tasks"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >

    <app-task
      *ngFor="let task of tasks"
      [taskID]="task.id"
      [text]="task.text"
      [index]="task.row"
      [taskName]="task.name"
      [id] = "id"
      [deadline]="task.deadline"
      cdkDrag
    >
    </app-task>

  </div>
<!--  <app-modal [row]="id" ></app-modal>-->

</div>
