<div class="root">
    <div class="navbar background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name gradient-text">kanban board</h1>
            </div>
        </div>
    </div>


<div class="board">


    <div class="board-bar">
        <mat-icon class="btn-drop">arrow_drop_up</mat-icon>
        <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
        <div class="board-columns">
            <app-row *ngFor="let title of titles" [name]="title.name" [id]="title.index" [header]="title.header"></app-row>
        </div>
    </div>

</div>

</div>
<!-- *ngFor="let title of titles" -->
